html{
   background-color: #f6f6f6;
   width: 100%;
   height: 100%;
}
body a{
    text-decoration-line: none;
}
body li{
    list-style: none;
}
body>div,aside>div,main>div{
   background-color: white;
   box-shadow: 0 1px 3px rgba(26,26,26,.1);
}
.top{
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 8%;
}
aside{
    position: fixed;
    right: 15%;
    top: 10%;
    width: 20%;
    height: 90%;;
}
aside>.buttons{
    position: absolute;
    right: 0%;
    top: 0%;
    width: 100%;
    height: 25%;
    display: flex;
    flex-wrap: wrap;
}
.buttons>li{
    margin-top: 6%;
    /*
    align-items: center;
    justify-content: flex-start;
    height: 40%; */
    width: 33%;
    display: flex;
    
}
.buttons>li>a{
    width: 100%;
    height: 100%;
    text-align: center;
    align-items: center;
    justify-content: baseline;
}
.btnicons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10%;
    /* width: 100%;
    position: relative;
    top: 0%;
    margin-bottom: 25%; */
}
.btntext{
    font-size: 15px;
    /* top: 25%;
    left: -25%;
    width: 100%;
    position: relative; */
}
aside>.mycenter{
    position: relative;
    top: 27%;
    height: 48%;
}
.mycenter>li{
    height: 12.5%;
    width: 100%;
    display: flex;
}
.mycenter>li>a{
    width: 80%;
    margin-left: 5%;
    display: flex;
    align-items: center;
    justify-content: baseline;
}
.centertext{
    margin-left: 5%;
}
aside>.footer{
    background-color: #f6f6f6;
    box-shadow: none;
    position: relative;
    top: 29%;
    height: 20%;

}
main{
    background: #f6f6f6;
    position: absolute;
    z-index: -1;
    left: 15%;
    top: 10%;
    width: 49%;
    height: 100%;
    display: flex;
    flex-direction: column;

}
main>div{
    margin-top: 2%;
}
main>.myaffair{
   margin-top: 0;
   width: 100%;
   height: 10%;
}
main>.content{
    width: 100%;
    height: 28%;
}